.output{
  background-color: grey;
  border-radius: 5px;
  padding-bottom: 4px;
  margin-bottom: 20px;
}

.startBorder{
  border-top: solid;
  border-color: black;
  border-width: 1px;
}

table {
  border: none;
  border-collapse: collapse;
}

table td, th {
  border-left: 1px solid #000;
  padding: 2px 5px;
}
table td:first-of-type, th:first-of-type{
  border-left: none;
  padding: 2px 5px;
}

th{
  font-weight: 500;
}
