.arranged{
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.items{
  position: relative;
  height: fit-content;
  margin: 0 5px;
}

.mat-input-element{
  color: white;
}

mat-form-field{
  height: fit-content;
  width: 20em;
}

button{
  margin:8px 0;
}
@media screen and (max-width: 575px) {
  .arranged{
    flex-direction: column;
  }
}
